{% extends 'header.html' %}




{% block content %}
    <form action="{% url 'new_task' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="id_create_date">Create date: </label>
            <input type="text" name = "create_date" id = "id_create_date">
        </div>
        <div>
            <label for="due_date">Due date: </label>
            <input type="text" name = "due_date" id = "id_due_date">
        </div>
        <div>
            <label for="id_owner">Owner: </label>
            <select name="owner" id="id_owner" required>
                <option value selected>---------</option>
                {% for owner in owners %}
                <option value="{{ owner.id}}">{{owner}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="done_status">Done status: </label>
            <input type="checkbox" name = "done_status" id = "id_done_status">
        </div>
        <div>
            <input type="submit" value = "create new task">
        </div>
    </form>
{% endblock %}