{% extends 'base.html' %}
{% load static %}

{% block title %}All posts{% endblock %}
{% block stylesheet %}{% static 'css/post/all-style.css'%}{% endblock %}
{% block body %}
    <div>
        <div class = "list-container">
        {% for post in posts%}
            <div class = "post post--style">
                <a href="{% url 'post_page' post.id %}" class = "link post__link link--style">{{ post }}</a>
            </div>
        {% endfor %}
        </div>
        <div>
            <a href="{% url 'add_post' %}">Add post</a>
        </div>
    </div>
{% endblock %}