.header{
    background-color: black;
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.page{
    padding: 0;
    margin: 0;
}

.page__content-wrapper{
    width: 900px;
    margin: 0 auto;
}

.content-wrapper {

}

.add {
    border-radius: 5px;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
}

.content{
    list-style: none;
    margin: 0;
    padding: 0;
}

.content__item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
}

.content__item:last-child {
    border: none;
}

.done {
    border-radius: 5px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 5px;
}

.view {
    display: inline-block;
    border-radius: 5px;
    background-color: yellow;
    border: none;
    padding: 10px;
}

.delete {
    display: inline-block;
    border-radius: 5px;
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
}

a{
    text-decoration: none;
}